src/main/mule/global/traveltip_externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="traveltip_externalsystemFlow" doc:id="e00806a1-6358-434a-9958-1a68886e25d8" >
		<http:listener doc:name="Listener" doc:id="3386544e-e099-461c-a573-575491411bd6" config-ref="HTTP_Listener_config" path="${http.listener.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="fdcd6b87-751c-4afa-a828-e4b7f606f4f2" message="Request Received for travelTip External System for transactionID: #[attributes.headers.transactionID]"/>
		<ee:transform doc:name="Transform Message" doc:id="d9bb0de6-751c-4fe2-b30c-183f6328b122" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.serviceType]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="95ed6027-5692-42c8-9126-94fb4d9f72a6" >
			<when expression='#[vars.serviceType=="routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="fc483592-6f9c-4a5e-b345-9e283f77ba3d" message="Routes flow called for travelTip external system for transactionID: #[attributes.headers.transactionID]"/>
				<flow-ref doc:name="Flow Reference" doc:id="3c63a933-d840-4ff9-8cb6-6316ba3c46b7" name="travelTip-getRoutes-implementationFlow"/>
			</when>
			<when expression='#[vars.serviceType=="Schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="8731c622-e0e0-4d90-ae8f-db42829cabd9" message="Schedules flow called for travelTip external system for transactionID: #[attributes.headers.transactionID]"/>
				<flow-ref doc:name="Flow Reference" doc:id="b86983ee-62b7-4270-9657-f5b499d35cac" name="travelTip-getSchedules-implementationFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="f1784dee-f4f1-42f7-8ca6-34661e513dbb" message="URI parameter is not correct for travelTip external system for transactionID: #[attributes.headers.transactionID]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="10d44cbf-9853-407a-bfee-28c9be24f635" message="Request Sent for travelTip External System for transactionID: #[attributes.headers.transactionID]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7f2e0678-6239-475c-8fdc-da950f612268" >
				<logger level="INFO" doc:name="Logger" doc:id="231cb247-4e43-4f9d-a298-d248623e5355" message="Error Occured for travelTip External System for transactionID: #[attributes.headers.transactionID]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
